DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DBNAME?sslmode=require

# Web Push VAPID keys (generate with: npm run generate-vapid-keys)
VAPID_PUBLIC_KEY=BFsi6m1XitGABX6ZqoKQUELr9Q2O3irjFgZ149WZhbWhUMv844RKyZD4yK6pjOZMp5l_3oRQ-gWPzPWPKaXbS3Q
VAPID_PRIVATE_KEY=ATbPKhPGiA3T1JHv4ZHA4DL_hL3SOD26xZmp59jdz0c
VAPID_SUBJECT=mailto:admin@missioncs.com
